body {
    background: rgb(229, 3, 3);
    
}

.contas {
    margin: auto;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}

.criar, .entrar {
    margin: 3px;
    border: 2px solid black;
}

h3, label, input, button {
    margin: 3px;
}

a {
    font-size: 1em;
}

h1:hover {
    color: rgb(161, 145, 145)
}

.error {
    text-align: center;
    color: orange
}