<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conta</title>
    <link rel="stylesheet" href="/css/conta.css">
</head>
<body>
    <header class="header">
        <a class="hover-1" style=" padding: 4px; border: 4px solid black" href="/home">AppDelivery</a>
        <a class="hover-1" hrf="">Conta</a>
        <a class="hover-1" ><%= email %></a> 
    </header>

    <div class="endereco">
        <h2>Cadastre um endereço abaixo</h2>
        <form method="post" action="/conta/endereco">
            <label for="">Rua</label>
            <input type="text" name="rua">
            <label for="">Número</label>
            <input type="text" name="numero">
            <label for="">Bairro</label>
            <input type="text" name="bairro">
            <button type="submit">Enviar</button>
        </form>
    </div>
</body>
</html>