<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <form method="post" action="/conta/edited">
            <input type="text" value="<%= id %>" name="id"><br>
            <input type="text" value="<%= rua %>" name="rua"><br>
            <input type="text" value="<%= numero %>" name="numero"><br>
            <input type="text" value="<%= bairro %>" name="bairro"><br>
            <button type="submit">Editar</button>
        </form>
        
</body>
</html>