<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <header class="header">
        <a class="hover-1" style=" padding: 4px; border: 4px solid black">AppDelivery</a>
        <a class="hover-1" hrf="">Lojas</a>
        <a class="hover-1" href="http://localhost:3012/conta"><%= email %></a>
    </header>
    <div class="lista">
        <div class="loja">
            <img class="img" src="/imgs/fullsize_2015_10_12_16_Logo-165716_73236_163916519_1069725254.jpg">
            <a href="">Taberna Burger & Beer</a>
        </div>
        <div class="loja">
            <img class="img" src="/imgs/draw_svg20210507-22909-5lu00o.svg.png">
            <a href="">Sávio's Burguer</a>
        </div>
    </div>
</body>
</html>