<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/menu.css">
</head>
<body>
    <header class="header">
        <a class="hover-1" style=" padding: 4px; border: 4px solid black">AppDelivery</a>
        <a class="hover-1" hrf="">Menu</a>
        <a class="hover-1" href="http://localhost:3011/login"><%= email  %></a>
    </header>
    <div class="lista">
        <table>
            <tr class="item">
                <td class="preco1">5</td>
                <td><button class="nome 1">Hamburguer</button></td>
            </tr>
            <tr class="item">
                <td class="preco2">15</td>
                <td><button class="nome 2">X-Tudo</button></td>
            </tr>
            <tr class="item">
                <td class="preco3">10</td>
                <td><button class="nome 3">X-Salada</button></td>
            </tr>
            <tr class="item">
                <td class="preco4">20</td>
                <td><button class="nome 4">Fominha</button></td>
            </tr>
        </table>
    </div>
    <div >
        <button type="button" class="remove">Limpar Carrinho</button>
        <form class="form"  action="/home/menu/pedido" method="post">
            <input type="text" class="input" name="pedido">
            <input type="text" class="total" name="total">
            <input type="text" class="address" name="endereço">
            <button type="submit" class="enviar">Finalizar Pedido</button>
        </form>
    </div>
    <div class="adressList">
        Endereços:
        <% address.forEach(address => { %>
        <button class="endereco">
            Rua:    <%=    address.rua %><br>
            Número: <%=    address.numero %><br>
            Bairro: <%=    address.bairro %><br>
        </button>
        <% }) %>
    </div>
       
    <script src="/js/menu2.js"></script>
</body>
</html> 